.about-us {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.about-us-header {
  text-align: center;
  position: relative;
  background-image: linear-gradient(to right, #000000, #ffffff);
  padding: 20px;
}

.about-us-header img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.about-us-header h1 {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 10px;
}

.about-us-body {
  padding: 20px;
}

.about-us-body p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-us-body .about-us-image {
  margin: 0 auto;
  text-align: center;
}

.about-us-body .about-us-image img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.about-us-footer {
  text-align: center;
  position: relative;
  background-image: linear-gradient(to right, #ffffff, #000000);
  padding: 20px;
}

.about-us-footer img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

@media screen and (width<=320px) {}

@media screen and (min-width >=321px) and (max-width <=375px) {}

@media screen and (min-width >=376px) and (max-width<=425px) {}

@media screen and (min-width >=426px) and (max-width<=768px) {}

@media screen and (min-width >=769px) and (max-width<=1024px) {}

@media screen and (min-width >=1025px) and (max-width<=1440px) {}

@media screen and (min-width >=1441px) and (max-width<=2560px) {}