.coupon-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 10px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
}

.coupon-list {
  display: flex;
  flex-direction: column;
}

.coupon-display{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px;
}
.coupon-card:hover {
  transform: translateY(-5px);
}

.coupon-details {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.coupon-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.coupon-code {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

.coupon-percentage {
  font-size: 1.1em;
  color: #e83e8c;
}

.coupon-website a {
  text-decoration: none;
  color: #0074cc;
  margin: 10px 0;
}

.coupon-category {
  font-size: 0.9em;
  margin: 5px 0;
}

.coupon-expires {
  font-size: 0.9em;
  margin: 5px 0;
}

.coupon-status {
  font-size: 0.9em;
  margin: 5px 0;
  color: #555;
}

.coupon-status.active {
  color: #2ecc71;
}

.coupon-status.expired {
  color: #e74c3c;
}

.get-deal-button {
  background-color: #0074cc;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  text-decoration: none;
}

.get-deal-button:hover {
  background-color: #005a9e;
}

.no-coupons-container{
  background-color: #3498db;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: auto;
  padding: 10px 20px;
  margin: 0 auto;
}
.no-coupons-message{
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width : 320px) {
  .coupon-list{
    width: 100%;
    height: auto;
    margin-top: 5px;
    align-items: center;
  }
  .coupon-code, .coupon-percentage {
    font-size: 1em;
    margin: 2px;
  }
  .coupon-expires, .coupon-status {
    display: none;
  }
  .coupon-details {
    padding: 8px;
  }
  .coupon-card{
    max-width: 50%;
    margin: 0px;
  }
  .coupon-image{
    height: 100px;
  }
}

@media screen and (min-width: 321px) and (max-width: 376px) {
  .coupon-list{
    width: 100%;
    height: auto;
    margin-top: 5px;
    align-items: center;
  }
  .coupon-code, .coupon-percentage {
    font-size: 1em;
    margin: 2px;
  }
  .coupon-expires, .coupon-status {
    display: none;
  }
  .coupon-details {
    padding: 8px;
  }
  .coupon-card{
    max-width: 50%;
    margin: 0px;
  }
  .coupon-image{
    height: 100px;
  }
}

@media screen and (min-width: 377px) and (max-width: 426px) {
  .coupon-list{
    width: 100%;
    height: auto;
    margin-top: 5px;
    align-items: center;
  }
  .coupon-code, .coupon-percentage {
    font-size: 1em;
    margin: 2px;
  }
  .coupon-expires, .coupon-status {
    display: none;
  }
  .coupon-details {
    padding: 8px;
  }
  .coupon-card{
    max-width: 50%;
    margin: 0px;
  }
  .coupon-image{
    height: 100px;
  }
}

@media screen and (min-width: 427px) and (max-width: 769px) {
  .coupon-list{
    width: 100%;
    height: auto;
    margin-top: 5px;
    align-items: center;
  }
  .coupon-code, .coupon-percentage {
    font-size: 1em;
    margin: 2px;
  }
  .coupon-expires, .coupon-status {
    display: none;
  }
  .coupon-details {
    padding: 8px;
  }
  .coupon-card{
    max-width: 50%;
    margin: 0px;
  }
  .coupon-image{
    height: 100px;
  }
}

@media screen and (min-width: 770px) and (max-width: 1025px) {
  .coupon-list{
    width: 100%;
    height: auto;
    margin-top: 5px;
    align-items: center;
  }
  .coupon-code, .coupon-percentage {
    font-size: 1em;
    margin: 2px;
  }
  .coupon-expires, .coupon-status {
    display: none;
  }
  .coupon-details {
    padding: 8px;
  }
  .coupon-card{
    max-width: 50%;
    margin: 0px;
  }
  .coupon-image{
    height: 100px;
  }
} 