.menubar {
  background-color: #ffffff;
  margin-top: 1vh;
  padding: 10px 10px 10px 10px;
}


  .menu-bar {
    margin: 0;
    padding: 10px;
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    align-content: space-between;
    justify-content: space-between;
    gap: 10px;
    padding-left: inherit;
    padding-right: inherit;
    overflow-x: auto;
  }


.menu-bar li {
  position: relative;
  flex: 1;
  margin: 0 1vw;
  text-align: center;
}

.nav-text {
  color: #403a3a;
  font-weight:500 ;
  font-family: 'Roboto', sans-serif;
}

.menu-bar li a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.nav-img {
  width: 45px;
  max-height: 8vh;
  height: auto;
  object-fit: contain;
  margin-top: 01vh;
}

.menu-bar li :hover {
  color: #ff6600;
}

.menu-bar li ::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 0.3vh;
  background-image: linear-gradient(90deg, transparent, #ff6600);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: bottom;
}

.menu-bar li a:hover::before {
  transform: scaleX(1);
}

.menu-bar li.selected a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.3vh;
  background-color: #ff6600;
  bottom: -5px;
  left: 0;
}
 
@media screen and (max-width : 574px) {
  .menubar {
    padding-top: 0px;
  }

  .menu-bar {
    align-items: flex-end;
    align-content: space-between;
    justify-content: space-between;
    gap: 10px;
    padding-left: 10px;
    padding-right: inherit;
    flex-direction: row;
    overflow: scroll;
  }

  .menu-bar li {
    margin: 5px 0;
    flex: 1;
    text-align: center;
  }

  .menu-bar li a {
    display: flex;
    padding:0px 5px;
    font-size: 14px;
    width: 70px;
  }

  .nav-text {
    font-size: 12px;
  }

}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .menubar {
    padding-top: 0px;
  }

  .menu-bar {
    align-items: flex-end;
    align-content: space-between;
    justify-content: space-between;
    gap: 10px;
    padding-left: 10px;
    padding-right: inherit;
    flex-direction: row;
    overflow: scroll;
  }

  .menu-bar li {
    margin: 5px 0;
    flex: 1;
    text-align: center;
  }

  .menu-bar li a {
    display: flex;
    padding:0px 5px;
    font-size: 14px;
    width: 70px;
  }

  .menu-bar li a img {
    height: 45px;
  }

  .nav-text {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px)  {
  .menubar {
    padding-top: 0px;
  }

  .menu-bar {
    align-items: flex-end;
    align-content: space-between;
    justify-content: space-between;
    gap: 10px;
    padding-left: 10px;
    padding-right: inherit;
    flex-direction: row;
    overflow: scroll;
  }

  .menu-bar li {
    margin: 5px 0;
    flex: 1;
    text-align: center;
  }

  .menu-bar li a {
    display: flex;
    padding:0px 5px;
    font-size: 14px;
    width: 70px;
  }

  .menu-bar li a img {
    height: 45px;
  }

  .nav-text {
    font-size: 12px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .menu-bar {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    align-content: space-between;
    justify-content: space-between;
    gap: 20px;
    padding-left: inherit;
    padding-right: inherit;
  }

  .menubar {
    padding-top: 0px;
  }

  .menu-bar li {
    margin: 5px 0;
    flex: 1;
    text-align: center;
  }

  .nav-text {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .menu-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: space-between;
    justify-content: space-between;
    gap: 10px;
    padding-left: inherit;
    padding-right: inherit;
  }

  .menubar {
    padding-top: 0px;
    padding-left: 10px;

  }

  .menu-bar li {
    margin: 5px 0;
    flex: 1;
    text-align: center;
  }

  .menu-bar li a {
    display: flex;
    padding: 5px;
  }

  .menu-bar li a img {  
    height: 55px;
  }

  .nav-text {
    font-size: 13px;
  }
} 
@media screen and (min-width: 1400px) and (max-width: 1999px) {
  .menu-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: space-between;
    justify-content: space-between;
    gap: 10px;
    padding-left: inherit;
    padding-right: inherit;
  }

  .menubar {
    padding-top: 0px;
    padding-left: 10px;

  }

  .menu-bar li {
    margin: 5px 0;
    flex: 1;
    text-align: center;
  }

  .menu-bar li a {
    display: flex;
    padding: 5px;
    font-size: 14px;
  }

  .menu-bar li a img {  
    height: 55px;
  }

  .nav-text {
    font-size: 13px;
  }
}
@media screen and (min-width: 2000px) and (max-width: 2400px) {

}