.home-main-div {
  max-width: 100%;
}

.main {
  display: flex;
  padding: 30px 10px 10px 10px;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: stretch;
}


@media screen and (max-width : 320px) {
  .home-main-div {
    padding-top: 15px; 
  }

  .main {
    flex-direction: column;
    padding-top: 5px; 
    justify-content: flex-start; 
    align-items: center;
  }

  .deals-menu {
    margin-top: 5px;
  }
}

@media screen and (min-width : 321px) and (max-width : 376px) {
  .home-main-div {
    padding-top: 15px; 
  }

  .main {
    flex-direction: column;
    padding-top: 5px; 
    justify-content: flex-start; 
  }

  .deals-menu {
    margin-top: 5px;
  }
}


@media screen and (min-width: 377px) and (max-width: 426px) {
  .home-main-div {
    padding-top: 5px; 
  }

  .main {
    flex-direction: column;
    padding-top: 5px; 
    justify-content: flex-start; 
  }

  .deals-menu {
    margin-top: 5px;
  }
}

@media screen and (min-width : 321px) and (max-width : 376px) {
  .home-main-div {
    padding-top: 5px; 
  }

  .main {
    flex-direction: column;
    padding-top: 5px; 
    justify-content: flex-start; 
  }

  .deals-menu {
    margin-top: 5px;
  }
}


@media screen and (min-width: 427px) and (max-width: 769px) {
  .home-main-div {
    padding-top: 5px; 
  }

  .main {
    flex-direction: column;
    padding-top: 5px; 
    justify-content: flex-start; 
  }

  .deals-menu {
    margin-top: 5px;
  }
}

@media screen and (min-width: 770px) and (max-width: 1025px) {
  .home-main-div {
    padding-top: 5px; 
  }

  .main {
    flex-direction: row;
    padding-top: 5px; 
    justify-content: flex-start; 
  }

  .deals-menu {
    margin-top: 5px;
  }
} 

