.deals-container-main {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.deals-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0px;
}

.main-deal-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 325px;
  max-width: 100%;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 25px 10px 10px 10px;
  background-color: #fff;
  position: relative;
  align-items: stretch;
  transition: box-shadow .2s ease-in-out;
  -webkit-filter: none !important;
  filter: none !important;
  width: 100%;
}

.main-deal-card:hover {
  border: 1px solid #d3472b;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, .11);
  position: relative;
  z-index: 2;
}

.deal-card {
  width: 100%;
  overflow: hidden;
}

.deal-card a.brandUrl {
  display: flex;
  height: calc(100% - 45px);
}

.brandUrl {
  text-decoration: none;
}

.brandUrl:hover h1 {
  color: #1c41d6;
}

.deal-image-div {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 23vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deal-image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.deal-title-div {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 15px;
}

.deal-title {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #333;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 42px;
  margin: 0 auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.deal-down-div {
  width: 100%;
  height: auto;
}

.brand-name-rating {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
}

.brandName-info {
  font-size: 0.75rem;
  font-weight: bold;
  color: #7e7a7a;
  margin-bottom: 1px;
  display: flex;
  align-items: center;
}

.brandName-info::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #1c41d6;
  border-radius: 50%;
  margin-right: 6px;
}


.deal-rating {
  display: inline-flex;
  align-items: center;
  color: #4caf50;
  font-size: medium;
  text-align: center;
}

.rating {
  font-weight: bold;
  font-size: large;
}

.deals-stars {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}

.deal-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 2px;
}

.regular-price {
  text-decoration: line-through;
  color: #000;
  font-size: 14px;
  font-weight: 900;
  text-align: left;
}

.deal-price {
  font-size: 14px;
  font-weight: bold;
  color: #e74c3c;
  font-weight: 900;
  text-align: right;
}

.offer-label {
  font-size: 12px;
  background-color: #da624a;
  color: #fff;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 0px 0px 0px 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  line-height: 8px;
}

.shopnow {
  width: 100%;
  max-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.whatsapp-share .btn-share {
  padding: 10px;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.whatsapp-share .btn-share p {
  margin: 0px;
}

.shop-now-button {
  display: flex;
  color: #2874f0;
  text-decoration: none;
  padding: 6.2px 10px;
  border-radius: 5px;
  font-size: 12px !important;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid;
  width: 80px;
  height: 35px;
  align-items: center;
}

.shop-now-button:hover {
  background-color: #2874f0;
  color: white;
}

.deal-body-div {
  width: 100%;
  height: 88%;
}


.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.pagination-button {
  padding: 8px 16px;
  border: none;
  background-color: white;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.pagination-button:first-child {
  margin-left: 0;
}

.pagination-button:last-child {
  margin-right: 0;
}

.pagination-button:hover {
  background-color: #ff6600;
  color: white;
  transform: scale(1.05);
}

.pagination-button.active {
  background-color: #ff6600;
  color: white;
  transform: scale(1);
}

.arrow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.arrow-button:hover {
  background-color: #ff6600;
  transform: scale(1.1);
}

.no-reviews {
  font-size: 12px;
  font-weight: bold;
}

.whatsapp-share {
  text-align: center;
}

.btn-share {
  background-color: white;
  color: #38bf4a;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.2s ease;
  padding: 7px 4px;
  width: 80px;
  height: 35px;
  border: 1px solid;
}

.deal-rating-number {
  color: blue;
  font-weight: bold;
  margin-right: 5px;
  font-size: 14px;
}

.btn-share:hover {
  background-color: #38bf4a;
  color: white;
  transform: scale(1);
}

.btn-share-image {
  width: 25px;
  height: 20px;
  padding-right: 4px;
}

.btn-share-text {
  font-size: 12px !important;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;

}

.title {
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.title:hover {
  text-decoration: underline;
}

.no-deals-container {
  text-align: center;
  border-radius: 10px;
  width: auto;
  padding: 18px 30px 20px 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border: 2px solid #1c41d6;
  justify-content: center;
}

.no-deals-div {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  line-height: 22px;
}

.no-deals-container:hover {
  transition: background-color 0.3s;
  border: 2px solid #1c41d6;
}

@media screen and (max-width : 320px) {
  .deals-container {
    gap: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    width: 100%;
  }
  .main-deal-card {
    padding: 15px 15px 10px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .shop-now-button {
    display: inline-block;
    background-color: white;
    color: #ff6600;
    text-decoration: none;
    padding: 7px 4px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    width: 80px;
    font-size: 12px;
    ;
  }
  .whatsapp-share .btn-share {
    width: 90px;
    padding: 7px 4px;
  }

  .shop-now-button:hover {
    background-color: #ff6600;
    color: white;
  }
  .shopnow {
    height: 31px;
    flex-wrap: wrap;
  }
  .deal-down-div {
    width: 100%;
    height: auto;
  }
  .deal-image-div {
    height: 60%;
    width: 100%;
  }
  .deal-title-div {
    height: auto;
    line-height: 1.15;
  }
  .deal-title {
    font-size: 12px;
    height: 43px;
  }
  .brandName-info {
    height: 15%;
    font-size: 12px;
  }
  .deal-rating {
    font-size: 1rem;
  }
  .no-reviews {
    font-size: 10px;
    font-weight: bold;
  }
  .deal-price, .regular-price {
    width: 50%;
    font-size: 0.8rem;
    padding-top: 5px;
  }
  .btn.btn-share {
    padding: 7px 7px;
    font-size: 10px;
  }
  .btn-share-text {
    font-size: 12px;
  }
  .rating {
    font-weight: bold;
    font-size: 13px;
  }
  .deal-rating-number {
    color: blue;
    font-weight: bold;
    margin-right: 1px;
    font-size: 10px;
  }
  .offer-label {
    font-size: 12px;
  }
  .title {
    font-size: 15px;
  }
  .no-deals-div {
    font-size: 15px;
  }
  .pagination-button{
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 376px) {
  .deals-container {
    gap: 0px;
    margin: 8px;
    padding: 0px;
  }

  .main-deal-card {
    border: 1px solid #ccc;
    padding: 15px 15px 10px 15px;
  }


  .shop-now-button {
    display: inline-block;
    background-color: white;
    color: #ff6600;
    text-decoration: none;
    padding: 7px 4px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    width: 80px;
    font-size: 12px;
  }

  .shop-now-button:hover {
    background-color: #ff6600;
    color: white;
  }

  .whatsapp-share .btn-share {
    width: 90px;
    padding: 7px 4px;
  }

  .btn-share-text {
    font-size: 12px;
  }

  .shopnow {
    width: 100%;
    height: 31px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center
  }

  .deal-down-div {
    width: 100%;
    height: auto;
  }
  .deal-image-div {
    height: 60%;
    width: 100%;
  }
  .deal-title-div {
    height: auto;
    line-height: 1.15;
  }
  .deal-title {
    font-size: 12px;
    height: 43px;
  }
  .brandName-info {
    height: 15%;
    font-size: 12px;
  }
  .deal-rating {
    font-size: 1rem;
  }
  .no-reviews {
    font-size: 10px;
    font-weight: bold;
  }
  .regular-price {
    width: 50%;
    font-size: 0.8rem;
  }
  .deal-price {
    width: 50%;
    font-size: 0.8rem;
  }
  .btn.btn-share {
    padding: 7px 7px;
    font-size: 10px;
  }
  .btn-share-text {
    font-size: 12px;
  }
  .rating {
    font-weight: bold;
    font-size: 13px;
  }
  .deal-rating-number {
    color: blue;
    font-weight: bold;
    margin-right: 1px;
    font-size: 10px;
  }
  .offer-label {
    font-size: 12px;
  }
  .no-deals-div{
    font-size: 15px;
  }
}


@media screen and (min-width: 377px) and (max-width: 426px) {
  .deals-container {
    gap: 0px;
    justify-content: flex-start;
    margin: 8px;
    padding: 0px;
  }

  .main-deal-card {
    border: 1px solid #ccc;
    padding: 15px 15px 10px 15px;
  }


  .shop-now-button {
    display: inline-block;
    background-color: white;
    color: #ff6600;
    text-decoration: none;
    padding: 7px 4px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    width: 80px;
    font-size: 12px;
  }

  .shop-now-button:hover {
    background-color: #ff6600;
    color: white;
  }

  .whatsapp-share .btn-share {
    width: 90px;
    padding: 7px 4px;
  }

  .btn-share-text {
    font-size: 12px;
  }

  .shopnow {
    width: 100%;
    height: 31px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center
  }

  .deal-down-div {
    width: 100%;
    height: auto;
  }
  .deal-image-div {
    height: 60%;
    width: 100%;
  }
  .deal-title-div {
    height: auto;
    line-height: 1.15;
  }
  .deal-title {
    font-size: 12px;
    height: 43px;
  }
  .brandName-info {
    height: 15%;
    font-size: 12px;
  }
  .deal-rating {
    font-size: 1rem;
  }
  .no-reviews {
    font-size: 10px;
    font-weight: bold;
  }
  .regular-price {
    width: 50%;
    font-size: 0.8rem;
  }
  .deal-price {
    width: 50%;
    font-size: 0.8rem;
  }
  .btn.btn-share {
    padding: 7px 7px;
    font-size: 10px;
  }
  .btn-share-text {
    font-size: 12px;
  }
  .rating {
    font-weight: bold;
    font-size: 13px;
  }
  .deal-rating-number {
    color: blue;
    font-weight: bold;
    margin-right: 1px;
    font-size: 10px;
  }
  .offer-label {
    font-size: 12px;
  }
  .no-deals-div{
    font-size: 15px;
  }
}


@media screen and (min-width: 427px) and (max-width: 769px) {
  .deals-container {
    display: flex;
    gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
  }

  .main-deal-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 295px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }


  .shop-now-button {
    display: inline-block;
    background-color: white;
    color: #ff6600;
    text-decoration: none;
    padding: 7px 4px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }

  .shop-now-button:hover {
    background-color: #ff6600;
    color: white;
  }


  .shopnow {
    width: 100%;
    height: 31px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center
  }

  .deal-down-div {
    width: 100%;
    height: auto;
  }


  .deal-image-div {
    height: 60%;
    width: 100%;
  }

  .deal-title-div {
    height: 20%;
    line-height: 1.15;
  }

  .deal-title {
    font-size: 0.9rem;
  }

  .brandName-info {
    height: 15%;
    font-size: 0.8rem;
  }

  .deal-rating {
    font-size: 1rem;
  }

  .no-reviews {
    font-size: 12px;
    font-weight: bold;
  }

  .regular-price {
    width: auto;
    font-size: 14px;
    align-items: flex-start;
  }

  .deal-price {
    width: auto;
    font-size: 14px;
  }

  .btn.btn-share {
    padding: 7px 7px;
    font-size: 10px;
  }

  .btn-share-text {
    font-size: 10px;
  }

  .rating {
    font-weight: bold;
    font-size: 15px;
  }

  .deal-rating-number {
    color: blue;
    font-weight: bold;
    margin-right: 1px;
    font-size: 12px;
  }

  .offer-label {
    font-size: 12px;
  }
}

@media screen and (min-width: 770px) and (max-width: 1025px) {
  .deals-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
  }

  .main-deal-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* height: 295px; */
    width: 100%;
    padding: 5px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
  }


  .shop-now-button {
    display: inline-block;
    background-color: white;
    color: #ff6600;
    text-decoration: none;
    padding: 7px 4px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }

  .shop-now-button:hover {
    background-color: #ff6600;
    color: white;
  }


  .shopnow {
    width: 100%;
    height: 31px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center
  }

  .deal-down-div {
    width: 100%;
    height: auto;
  }


  .deal-image-div {
    height: 60%;
    width: 100%;
  }

  .deal-title-div {
    /* height: 20%; */
    line-height: 1.15;
  }

  .deal-title {
    /* font-size: 0.9rem; */
  }

  .brandName-info {
    height: 15%;
    font-size: 0.8rem;
  }

  .deal-rating {
    font-size: 1rem;
  }

  .no-reviews {
    font-size: 12px;
    font-weight: bold;
  }

  .regular-price {
    width: auto;
    font-size: 0.8rem;
    align-items: flex-start;
  }

  .deal-price {
    width: auto;
    font-size: 0.8rem;
  }

  .btn.btn-share {
    padding: 7px 7px;
    font-size: 10px;
  }

  .btn-share-text {
    font-size: 10px;
  }

  .rating {
    font-weight: bold;
    font-size: 15px;
  }

  .deal-rating-number {
    color: blue;
    font-weight: bold;
    margin-right: 1px;
    font-size: 12px;
  }

  .offer-label {
    font-size: 12px;
  }
}

.loading {
  margin: 0px auto;
}