.productboardmain {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* height: 25.5vh; */
  background-color: #fff;
  padding:20px 20px;
  border: 1px solid black;
}

#productlabetitle {
  position: absolute;
  top: -1rem;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff1493;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.productlist {
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}



.product {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid black;
  padding:8px 8px;
  width: 100%;
  max-height: 4rem;
  transition: transform 0.2s, border-color 0.2s, background-color 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.product img {
  height: 4vmin;
  padding:0 5px;
  object-fit: contain;
}

.product:hover {
  transform: translateY(-3px);
  border-color: #ff6600;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* .productlogo {
  width: 30%;
  height: 100%;
  object-fit: contain;
  margin-right: 5px;
} */

.producttitle {
  color: #ff6600;
  font-size: 1vmax;
  font-weight: bold;
  overflow: hidden;
  /* margin-left: 5px; */
}
 
@media screen and (max-width : 320px) {
  .productlistcontainer {
    width: 100%;
    height: auto;
  }

  .productboardmain {
    width: 90%;
    padding: 5px;
  }

  .productlist {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 5px;
    max-width: 95%;
  }

  .product {
    height: 25px;
    width: 100%;
    justify-content: flex-start;
  }

  .product img{
    width:10vw;
    height: 20vh;
  }

  .product:hover {
    transform: none;
    border-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #productlabetitle {
    font-size: 12px;
    padding: 4px 8px;
    top: -16px;
  }
}

@media screen and (min-width: 321px) and (max-width: 376px) {
  .productlistcontainer {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .productboardmain {
    width: 94%;
    padding: 5px;
  }

  .productlist {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 5px;
    max-width: 95%;
  }

  .product {
    height: 25px;
    width: 100%;
    justify-content: flex-start;
  }

  .product:hover {
    transform: none;
    border-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #productlabetitle {
    font-size: 12px;
    padding: 4px 8px;
    top: -16px;
  }

  .producttitle {
    font-size: 10px;
  }
}

@media screen and (min-width: 377px) and (max-width: 426px) {
  .productlistcontainer {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .productboardmain {
    width: 94%;
    padding: 5px;
  }

  .productlist {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 5px;
    max-width: 95%;
  }

  .product {
    height: 25px;
    width: 100%;
    justify-content: flex-start;
  }

  .product:hover {
    transform: none;
    border-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #productlabetitle {
    font-size: 12px;
    padding: 4px 8px;
    top: -16px;
  }

  .producttitle {
    font-size: 10px;
  }
}

@media screen and (min-width: 427px) and (max-width: 769px) {
  .productlistcontainer {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .productboardmain {
    width: 95%;
    padding-left: 10px;
  }

  .productlist {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 5px;
    max-width: 95%;
  }

  .product {
    height: 25px;
    width: 100%;
    justify-content: flex-start;
  }

  .product:hover {
    transform: none;
    border-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #productlabetitle {
    font-size: 12px;
    padding: 4px 8px;
    top: -16px;
  }

  .producttitle {
    font-size: 10px;
  }
}

@media screen and (min-width: 770px) and (max-width: 1025px) {
  .productlistcontainer {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .productboardmain {
    width: 30%;
    padding-left: 1px;
  }

  .productlist {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 5px;
    max-width: 95%;
  }

  .product {
    height: 20px;
    width: 100%;
    justify-content: flex-start;
  }

  .product:hover {
    transform: none;
    border-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #productlabetitle {
    font-size: 12px;
    padding: 4px 8px;
    top: -16px;
  }

  .producttitle {
    font-size: 10px;
  }
}