.productboardmain {
  width: 33%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.productlistcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 220px;
  background-color: #f0f0f0;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid black;
  position: relative;
}

#productlabetitle {
  position: absolute;
  top: -19px;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff1493;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
}

.productlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  max-width: 500px;
  margin: 0 auto;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid black;
  padding: 2px;
  width: 96%;
  height: 36px;
  transition: transform 0.2s, border-color 0.2s, background-color 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.product img {
  max-width: 35%;
  max-height: 100%;
  object-fit: contain;
}

.product:hover {
  transform: translateY(-5px);
  border-color: #ff6600;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.productlogo {
  width: 30%;
  height: 100%;
  object-fit: contain;
  margin-right: 5px;
}

.producttitle {
  color: #ff6600;
  font-size: 14px;
  font-weight: bold;
  /* margin-left: 5px; */
}

@media screen and (max-width : 320px) {
  .productlistcontainer {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .productboardmain {
    width: 94%;
    padding: 5px;
  }

  .productlist {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 5px;
    max-width: 95%;
  }

  .product {
    height: 25px;
    width: 100%;
    justify-content: flex-start;
  }

  .product:hover {
    transform: none;
    border-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #productlabetitle {
    font-size: 12px;
    padding: 4px 8px;
    top: -16px;
  }
}

/* Mobile devices */
@media screen and (min-width: 321px) and (max-width: 376px) {
  .productlistcontainer {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .productboardmain {
    width: 94%;
    padding: 5px;
  }

  .productlist {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 5px;
    max-width: 95%;
  }

  .product {
    height: 25px;
    width: 100%;
    justify-content: flex-start;
  }

  .product:hover {
    transform: none;
    border-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #productlabetitle {
    font-size: 12px;
    padding: 4px 8px;
    top: -16px;
  }

  .producttitle {
    font-size: 10px;
  }
}

/* Tablets */
@media screen and (min-width: 377px) and (max-width: 426px) {
  .productlistcontainer {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .productboardmain {
    width: 94%;
    padding: 5px;
  }

  .productlist {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 5px;
    max-width: 95%;
  }

  .product {
    height: 25px;
    width: 100%;
    justify-content: flex-start;
  }

  .product:hover {
    transform: none;
    border-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #productlabetitle {
    font-size: 12px;
    padding: 4px 8px;
    top: -16px;
  }

  .producttitle {
    font-size: 10px;
  }
}

/* Small desktops */
@media screen and (min-width: 427px) and (max-width: 769px) {
  .productlistcontainer {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .productboardmain {
    width: 95%;
    padding-left: 10px;
  }

  .productlist {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 5px;
    max-width: 95%;
  }

  .product {
    height: 25px;
    width: 100%;
    justify-content: flex-start;
  }

  .product:hover {
    transform: none;
    border-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #productlabetitle {
    font-size: 12px;
    padding: 4px 8px;
    top: -16px;
  }

  .producttitle {
    font-size: 10px;
  }
}

/* Medium desktops */
@media screen and (min-width: 770px) and (max-width: 1025px) {
  .productlistcontainer {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .productboardmain {
    width: 30%;
    padding-left: 1px;
  }

  .productlist {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 5px;
    max-width: 95%;
  }

  .product {
    height: 20px;
    width: 100%;
    justify-content: flex-start;
  }

  .product:hover {
    transform: none;
    border-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #productlabetitle {
    font-size: 12px;
    padding: 4px 8px;
    top: -16px;
  }

  .producttitle {
    font-size: 10px;
  }
}

/* Extra large desktops */
/* @media screen and (min-width: 1442px) and (max-width: 2561px) {
  .productlistcontainer {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .productboardmain {
    width: 20%;
    padding-left: 1px;
  }

  .productlist {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5px;
    max-width: 95%;
  }

  .product {
    height: 35px;
    width: 100%;
  }

  .product img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .product:hover {
    transform: none;
    border-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #productlabetitle {
    font-size: 18px;
    padding: 4px 8px;
    top: -16px;
  }

  .producttitle {
    font-size: 16px;
  }
} */